backlash==0.0.7
Beaker==1.6.5.post1
boto==2.0
cliff==1.9.0
cmd2==0.6.8
crank==0.7.2
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.2
django-bootstrap3==5.0.3
django-jquery==1.9.1
django-memoize==1.1.2
django-toolbelt==0.0.1
django-favicon==0.1.1
gearbox==0.0.7
gunicorn==19.1.1
MarkupSafe==0.23
PasteDeploy==1.5.2
pbr==0.10.7
postman==0.6.0
prettytable==0.7.2
psycopg2==2.5.4
pyparsing==2.0.3
repoze.lru==0.6
six==1.9.0
static3==0.5.1
stevedore==1.2.0
Tempita==0.5.2
tg.devtools==2.3.4
TurboGears2==2.3.4
WebOb==1.4
WebTest==1.4.3
