/*
  sage: #9C9F84
  light green: 	#CDD1B6
  green: #5C755E
  blue: #626F83
  red: #52230C
  black: #000000
*/

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #fffff !important;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url("../jpg/DHall.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;	
  color: #5C755E;
  height: 100%;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; 
  padding: 10px;
}

.aboutus-well {
  padding: 10;
  opacity: .8;

}

a:link {
  color: #52230C;
}

a:visited {
  color: #52230C;
}

a:hover {
  color: #52230C;
}

a:active {
  color: #52230C;
}


a div h1 {
 color: #5C755E;
}

.header-row {
  height: 5%;
}

.buffer-row {
  height: 3%;
}

.half-buffer-row {
  height: 1.5%;
}

.snak-divider {
  border-top-color: rgb(98, 111, 131);
  border-top-width: 3px;
}

.btn-row {
  height: 15%;
}

.centered {
  text-align: center;
}

img{
 max-width:100% !important;
 height: auto;
 display: block;
}

#top-footer { position: fixed; bottom: 40; width: 75%; }

#footer { position: fixed; bottom: 0; right: 0; height: 40; background-color:#fff; }

#logo {
  text-align: center;
  font-size: 75px;
}

#slogan {
  text-align: center;
  font-size: 28px;
  font-style: italic;
}

.align-right {
  text-align: right;
}

#submitS {
  float: right;
}

#submitCP {
  color: #52230C;
  background-color: transparent;
  border-color: #52230C;
  border: 2px solid;
  float: center;
  
}

.btn-success {
 color: #5C755E;
 background-color: transparent;
 border-color: #5C755E;
 border: 2px solid;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #5C755E;
  background-color: #CDD1B6;
  border-color: #5C755E;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.hover {
  color: #5C755E;
  background-color: #CDD1B6;
  border-color: #5C755E;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.focus {
  color: #5C755E;
  background-color: #CDD1B6;
  border-color: #5C755E;
}


ul.dropdown-menu {
    background-color: #DCDCC6;
    color: #CDD1B6;
}

ul.dropdown {
 background-color: #DCDCC6;
  color: #CDD1B6;
}

.btn-primary {
  color: #52230C;
  background-color: transparent;
  border-color: #52230C;
  border: 2px solid;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #52230C;
  background-color: #626F83;
  border-color: #52230C;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.hover {
  color: #52230C;
  background-color: #626F83;
  border-color: #52230C;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  box-shadow: none;
  outline: 0 none;
  border: 0 none;
  color: #5C755E;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.hover {
  box-shadow: none;
  outline: 0 none;
  border: 0 none;
  color: #5C755E;
}

.btn-default {
  box-shadow: none;
  outline: 0 none;
  border: 0 none;
  color: #5C755E;
}

#btn-logo {
  background-color: transparent;
  width: 95%;
  margin-left: 2.5%;
  box-shadow: none;		
}
