.info-holder{
        text-align: center
}

body {
  background-image: url("../jpg/DHall.jpg");
  background-repeat: repeat-y;
  background-size: 100% 100%;
}

.btn-success {
 color: #5C755E;
 background-color: transparent;
 border-color: #5C755E;
 border: 2px solid;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #5C755E;
  background-color: #CDD1B6;
  border-color: #5C755E;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.hover {
  color: #5C755E;
  background-color: #CDD1B6;
  border-color: #5C755E;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.focus {
  color: #5C755E;
  background-color: #CDD1B6;
  border-color: #5C755E;
}


ul.dropdown-menu {
    background-color: #DCDCC6;
}

ul.dropdown {
 background-color: #DCDCC6;
}

.btn-primary {
  color: #52230C;
  background-color: transparent;
  border-color: #52230C;
  border: 2px solid;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #52230C;
  background-color: #626F83;
  border-color: #52230C;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.hover {
  color: #52230C;
  background-color: #626F83;
  border-color: #52230C;
}

#btn-toggle {	
  width: 95%; 
  margin-left: 2.5%;
  padding: 32px 28px;
  font-size: 28px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

#btn-signup {
  color: #52230C;
  border-color: #52230C;
  border: 2px solid;
  width: 95%;
  margin-left: 2.5%;
  padding: 32px 28px;
  font-size: 28px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}