.interests-row {
  padding-left: 7%;
  padding-top: 1%;
}

.round-button {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    border: 1px solid #000;
}

.midbar {
  position: fixed;
  right: 2%;
}

.chevron {
  color: black;
}

.previousbutton {
  margin-bottom: 200px;	
}

.rightbar {
  min-height: 150px;
  max-height: 65%;
  height: auto !important;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
  right: 7%;
  opacity: .9;
  width: 30%;
  padding-top: 0;
  overflow: scroll;
}

.interests-well {
  padding: 0;
  opacity: .8;
  height: 65%;
  font-color: black;
}

.selectbtn {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2E3A2F;
  font-weight: 200;
}

.up-arrow {
  margin-right: 3%;
  font-size: 30px;
  margin-bottom: 0;
}
.search-box {
  margin: 3%;
  position: absolute;
  width: 100%;
}

.list-of-interests {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -3%;
  overflow: scroll;
  height: 85%;
}

.tt-dropdown-menu {
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 0.5px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;	
  padding: 5px;
  margin-left: 3%;
  margin-top:0;
}

.twitter-typeahead {
  width: 95%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 20px;
}

ul li {
  font-size: 28px;
  text-align: center;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

ul ul li {

  border: none;
  text-align: left;
  font-size: 22px;
}
ul ul ul li {

  font-size: 14px;
  padding-left: 20px;
}

#submit-interests-btn {
  width: 90%;
  height: 40px;
  color: #52230C;
  background-color: transparent;
  border-color: #52230C;
  border: 2px solid;
}

#interest-disclaimer {
  font-size: 10px;
  margin-top: 5px;
}

#interest-hover-box {
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 24.7%;
  width: 24.8%;
  min-height: 125px;
  max-height: 250px;
  background-color: white;
  padding-top: 1%;
  height: 12%;
  position: fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2E3A2F;
  border: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow-y: scroll;
}

.disabled-interest {
  font-weight:900;
  border-bottom: 1px solid;
}