{% extends "user/base.html" %}
{% load static %}
{% load staticfiles %}
{% load customtags %}

{% block extra_js %}
<script>
// These functions live here rather than in the js file because 
// they deal with django variables, which I don't know how to pass
// to the separate js file :( -ds
function getCurrentUserInterests() {
  return {{ user_interests|safe }};
}

function getMainCategories() {
  return {{i_list.children|dumpsjs|safe}};
}
</script>

<script type="text/javascript" src="{% static 'interests/js/jquery.waypoints.min.js' %}"></script>
{% endblock %}


{% block content %}
{% load customtags %}
<link rel="stylesheet" type="text/css" href="{% static 'interests/css/show.css' %}" />

<div class="row">
  <div class="lefthalf col-sm-6 col-sm-offset-1">
    <h1 class="topbar"></h1>

    <ul class="midbar">
	    {% for interest in i_list.children %} 
				<button class="round-button jumper {{interest.id}}_btn" href="#{{interest.id}}_jump" title="{{interest.name}}"></button><br><br>
	    	<!-- <a class="jumper" href="#{{interest.id}}_jump">{{interest.name}}</a> <br> -->
	    {% endfor %}
    </ul>

    <ul class="panel panel-default panel-body">
      {% for interest in i_list.children %} 
		    <div id="{{interest.id}}_jump" name="{{interest.name}}" style="hidden: true"></div>
      	{%include "interests/interest_template.html" %}
      {% endfor %}
    </ul>

    <div class="bottombar"></div>
  </div>
  
  <div class="rightbar col-sm-4">
    <div class="input-group searchbar" style="width: 100%; margin-bottom: 5%;">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <ul class="panel-body" id="interest-name-list"></ul>
  	<button class="btn btn-success navbutton previousbutton" type="button" disabled>Previous</button>
  	<button class="btn btn-success navbutton nextbutton" type="button" href="#{{i_list.children.0.id}}_jump">Next</button>
	<form id="sendinterests" method="POST" action="/interest/update/">
	  {% csrf_token %}
	  <input type="hidden" name="interest_list" id="to_send_interest_list" value="empty">
	  <button class="btn btn-success" type="submit">Submit</button>
	</form>
	
  </div>
  
</div>

<script type ="text/javascript" src="{% static 'interests/js/interests.js' %}"></script>
{% endblock %}
