{% extends "user/base.html" %}
{% load static %}
{% load staticfiles %}
{% load customtags %}

{% block extra_js %}
<script>
// These functions live here rather than in the js file because 
// they deal with django variables, which I don't know how to pass
// to the separate js file :( -ds
function getCurrentUserInterests() {
  return {{ user_interests|safe }};
}

function getMainCategories() {
  return {{i_list.children|dumpsjs|safe}};
}

function getIList() {
  return {{all_interests|dumpsjs|safe}};
}

function getIStrings() {
  return "{{all_interests_string}}".split(",");
}
</script>
<script type="text/javascript" src="{% static 'messages/js/typeahead.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'interests/js/jquery.waypoints.min.js' %}"></script>
{% endblock %}


{% block content %}
{% load customtags %}
<link rel="stylesheet" type="text/css" href="{% static 'interests/css/show.css' %}" />

<div class="row" style="padding: 3%;">
  <div class="col-sm-8 lefthalf">
    <div class="well interests-well">
      <div id="scrollable-dropdown-menu">
	<input type="text" placeholder="Search for interests" class="form-control search-box" id="interests-searchbar" onkeypress="return interestEnteredFromSearch(event);">
	<input type="hidden" id="interest-id-searchbox" value="none">
	<input type="hidden" id="interest-name-searchbox" value="none">
      </div>
      <div class="list-of-interests">
      {% for interest in i_list.children %} 
        <div id="{{interest.id}}_jump" name="{{interest.name}}" style="hidden: true"></div>
	{%include "interests/interest_template.html" %}
      {% endfor %}
      </div>
    </div>
    <div class="midbar">
  	<a class="chevron previousbutton"><span class="glyphicon glyphicon-chevron-up"></span></a><br>
  	<a class="chevron nextbutton" ><span class="glyphicon glyphicon-chevron-down"></span></a>

<!--	  href="#{{i_list.children.0.id}}_jump"  { % for interest in i_list.children %} 
				<button class="round-button jumper {{interest.id}}_btn" href="#{{interest.id}}_jump" title="{{interest.name}}"></button><br><br>
	    	<!-- <a class="jumper" href="#{{interest.id}}_jump">{{interest.name}}</a> <br>
	    { % endfor %}-->
    </div>


    <div class="bottombar"></div>
  </div>
  
  <div class="rightbar col-sm-4">
    <ul class="panel-body" id="interest-name-list"></ul>
	<form id="sendinterests" method="POST" action="/interest/update/">
	  {% csrf_token %}
	  <input type="hidden" name="interest_list" id="to_send_interest_list" value="empty">
	  <button class="btn btn-success" type="submit">Submit</button>
	</form>
	<button class="btn btn-primary" type="button"><a href="{% url 'chat' %}">Go to chat!</a></button>
  </div>
  
</div>

<script type ="text/javascript" src="{% static 'interests/js/interests.js' %}"></script>
{% endblock %}
