{% extends "user/base.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'messages/css/chat.css' %}" />
{% endblock %}


{% block content %}
<script type="text/javascript">
$(document).ready(function(){

  // disable scroll on this page
  $('#chat-room').on({
      'mousewheel': function(e) {
          if (e.target.id == 'el') return;
          e.preventDefault();
          e.stopPropagation();
      }
  });

  // send message
  $('#send-message-form').submit(function () {
    var message = $('#message-input-box').val();
    var prev_messages = $('#message-content').html();

    if (message) {
      $('#message-content').html(prev_messages + '<div class="row" style="margin-bottom: 10px;"><div class="btn btn-primary pull-right disabled">' + message + '</div></div>');
    }

    return false;
  });

  // hit submit button on 'enter' keypress
  $('#message-input-box').keypress(function (e) {
    if (e.which == 13) {
      $('#btn-send-message').click();
      $('#message-input-box').val("");
    }
  });
});
</script>

<div class="row" style="height:100%; padding: 10px;" id="chat-room">
  <!--inbox-->
  <div class="col-md-2 well" id="inbox">    
    <div class="btn-group btn-group-justified" id="btn-chat-menu">
      <div class="btn-group" id="btn-chat-menu">
	<button type="button" class="btn btn-success btn-large dropdown-toggle" id="chatmenu" data-toggle="dropdown" aria-expanded="false">
	  Menu <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
	  <li><a href="#">Settings</a></li>
	  <li><a href="#">Advanced Match</a></li>
	  <li><a href="#">Adjust Interests</a></li>
	  <li><a href="#">Submit Feedback</a></li>
	  <li><a href="#">Refer a Friend</a></li>
	</ul>
      </div>
    </div>      
    <div class="btn btn-danger btn-large" id="btn-match-me">Match Me!</div>
  </div>
  <!--current message-->
  <div class="col-md-10 well" id="message-box" >
    <div class="row" style="padding-right: 20px; padding-top: 5px;">
      <div class="dropdown">
	<button class="btn btn-success dropdown-toggle pull-right" type="button" id="plusmenu" data-toggle="dropdown" aria-expanded="false">+</button>
	<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="plusmenu">
	  <li><a href="#">Add a Person</a></li>
	  <li><a href="#">Report Conversation</a></li>
	  <li><a href="#">Nudge Person</a></li>
	</ul>
      </div>
    </div>
    <div id="message-content"></div>
    <form id="send-message-form">
      <div class="input-group" id="send-message-row">
	<input class="form-control" type="text" id="message-input-box">
	<span class="input-group-btn">
	  <input type="submit" id="btn-send-message" class="btn btn-success" value="Send Message!" />
	</span>
      </div>
    </form>
  </div>
</div>



{% endblock %}
