{% extends "user/base.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'messages/css/chat.css' %}" />
{% endblock %}


{% block extra_js %}
<script>
// these functions live here rather than in the js file because 
// they deal with django variables, which I don't know how to pass
// to the separate js file :( -ds

function getLoggedInUserEmail() {
  return "{{ user.email }}";
}

// CHANGE THIS TO BE FIRSTNAME/LASTNAME EVENTUALLY
function getMatchedUserEmails() {
  var emails = [];
  {% for user in matched_users %}
    emails.push( "{{user.email}}" );
  {% endfor %}

  return emails;
}
</script>
<script type="text/javascript" src="{% static 'messages/js/chat.js' %}"></script>
<script type="text/javascript" src="{% static 'messages/js/typeahead.jquery.js' %}"></script>

<script>
</script>
{% endblock %}

{% block content %}
<div class="row" style="height:100%; padding: 10px;" id="chat-room">
  <!--left navbar-->
  <div class="col-md-2 col-md-offset-2 well" id="inbox">    
    <!--chat menu dropdown-->
    <div class="btn-group btn-group-justified" id="btn-chat-menu">
      <div class="btn-group" id="btn-chat-menu">
	<button type="button" class="btn btn-success btn-large dropdown-toggle" id="chatmenu" data-toggle="dropdown" aria-expanded="false">
	  Menu <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
	  <li><a href="#">Settings</a></li>
	  <li><a href="#">Advanced Match</a></li>
	  <li><a href="#">Adjust Interests</a></li>
	  <li><a href="#">Submit Feedback</a></li>
	  <li><a href="#">Refer a Friend</a></li>
	</ul>
      </div>
    </div>      
    <!--inbox-->
    <ul class="nav nav-pills nav-stacked">
    {% for thread in inbox_threads %}
      <li role="presentation"><a class="inbox-message" href="#" 
				 onclick="populateThread({{ thread.pk }})" 
				 id="thread-link-{{ thread.pk }}">{{ thread }}</a></li>
    {% endfor %}
    </ul>

    <form action="/match/" method="GET">
      <button type="submit" class="btn btn-danger btn-large" id="btn-match-me">Match Me!</button>
    </form>

  </div>
  <!--current message-->
  <div class="col-md-6 well box">
    <div class="row" id="thread-title-bar">
      <!--Title of message-->
      <div class="col-md-10">
	{% for thread in inbox_threads %}
	<div class="thread" id="members-in-thread-{{ thread.pk }}">
	  <h4>{{ thread.subject }}</h4>
	  <h5 id="list-of-members"><b>Members: </b>
	    {% for member in thread.members.all %}
	    {{ member.firstname }} {{ member.lastname }}
	    {% if not forloop.last %}
	    , 
	    {% endif %}
	    {% endfor %}
	  </h5>
	</div>
	{% endfor %}
      </div>
      <div class="col-md-2" style="padding: 0;">
	<!--plus menu-->
	<div class="dropdown">
	  <button class="btn btn-success dropdown-toggle pull-right" type="button" id="plusmenu" data-toggle="dropdown" aria-expanded="false">+</button>
	  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="plusmenu">
	    <li><a data-toggle="modal" data-target="#addPersonToThread">Add a Person</a></li>
	    <li><a href="#">Report Conversation</a></li>
	    <li><a href="#">Nudge Person</a></li>
	  </ul>
	</div>
    </div>
    </div>
    <div id="message-box" class="row" style="margin-bottom: 5px;">
      <!--previously sent/received messages-->
      <div id="message-content">
	{% for thread in inbox_threads %}
 	<div id="thread-{{ thread.pk }}" class="thread thread-messages">
          {% for message in thread.message_set.all %}
	  <div class="row" style="margin-top: 10px">
            {% if message.sender == user %}
	    <div class="btn btn-primary disabled pull-right">{{ message }}</div>
            {% else %}
            <div class="btn btn-default disabled">{{ message }}</div>
            {% endif %}
	  </div>
	  {% endfor %}
	</div>
	{% endfor %}
	<div class="clearfix" style="margin: 5px;"></div>
      </div>
    </div>
    <form id="send-message-form" method="POST">
      {% csrf_token %}
      <div class="input-group" id="send-message-row">
	<input class="form-control" type="text" id="message-input-box">
	<span class="input-group-btn">
	  <input type="submit" id="btn-send-message" class="btn btn-success" value="Send"/>
	</span>
      </div>
    </form>
  </div>
</div>


<!-- Add Person to Thread Modal -->
<div class="modal fade" id="addPersonToThread" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to this Thread</h4>
      </div>
      <div class="modal-body">
        <form id="add-person-to-thread-form" method="POST">
	  {% csrf_token %}
	  <div id="scrollable-dropdown-menu">
	    <input class="form-control" type="text" id="add-person-to-thread-input" placeholder="Search by email..." autocomplete="off"/>
	  </div>
          <button type="submit" value="Send" class="btn btn-primary">Do ittttt</button>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
