{% extends "user/base.html" %}
{% load static %}

{% load chattags %}
{% load customtags %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'messages/css/chat.css' %}" />
{% endblock %}


{% block extra_js %}
<script>
// these functions live here rather than in the js file because 
// they deal with django variables, which I don't know how to pass
// to the separate js file :( -ds

function getLoggedInUserEmail() {
  return "{{ user.email }}";
}
 
// TODO CHANGE THIS TO BE FIRSTNAME/LASTNAME EVENTUALLY
function getMatchedUserEmails() {
  var emails = [];
  {% for user in matched_users %}
    emails.push( "{{user.email}}" );
  {% endfor %}

  return emails;
}

function getMatchedUserNames() {
  names = []
  {% for user in matched_users %}
    names.push({"name": "{{ user.get_fullname }}", 
                "id": {{ user.id }} });
  {% endfor %}
  
  return names;
}

function is_college_user() {
  if("{{ current_user.collegeuser }}" == "True") {
    return true;
  } else {
    return false;
  }
}

function allow_matches() {
  if("{{ current_user.is_active }}" == "True") {
    return true;
  } else {}
  return false;
}

function auth_message() {
    return "<div class='alert alert-danger alert-dismissible fade in' role='alert'><h4 id='non-active-user-error'>Oh snap! You still need to confirm your email account!</h4><p>You should have received an email from sagelyio@gmail.com with information to confirm your account.  If you still haven't received this, click <a href=\"{% url 'resend_confirmation_email' %}\">here</a> to resend the email :)<p>{% if user.collegeuser %} <p>You won't be matched with any prospies until you verify your email!<p> {% else %} <p>You can only get ONE match until you verify your email!<p> {% endif %}<p></div>";

}


</script>

<script type="text/javascript" src="{% static 'messages/js/chat.js' %}"></script>
<script type="text/javascript" src="{% static 'messages/js/typeahead.jquery.js' %}"></script>


{% endblock %}

{% block content %}
<head>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61893953-1', 'auto');
  ga('send', 'pageview');

  $('#change-settings-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'change settings');
  });

  $('#change-password-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'change password');
  });

  $('#adjust-interest-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'adjust interest');
  });

  $('#submit-feedback-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'submit feedback');
  });

  $('#refer-prospie-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'refer prospie');
  });

  $('#logout-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'logout');
  });

  $('.btn-reset-counter').on('click', function() {
    ga('send', 'event', 'button', 'click', 'reset counter');
  });

  $('#nudge-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'nudge');
  });

  $('#about-match-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'about match');
  });

  $('#report-person-btn').on('click', function() {
    ga('send', 'event', 'button', 'click', 'report person');
  });

  $('#nudge-a-person-button').on('click', function() {
    ga('send', 'event', 'button', 'click', 'nudge follow through');
  });

  $('#new-match-accept').on('click', function() {
    ga('send', 'event', 'button', 'click', 'accept new match');
  });

  $('#refer-follow-through').on('click', function() {
    ga('send', 'event', 'button', 'click', 'refer follow through');
  });

  $('#report-follow-through').on('click', function() {
    ga('send', 'event', 'button', 'click', 'report follow through');
  });

  $('#btn-send-message').on('click', function() {
    ga('send', 'event', 'button', 'click', 'send message');
  });

  </script>
</head>

<div class="row buffer-row">
  <hr class="snak-divider">
</div>
<div class="=row col-md-2"></div>
<div class="row col-md-8" id="chatroom-messages-row">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-info fade in" role="alert" id="alert-message">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>{{ message }}</strong>
  </div>
  {% endfor %}
  {% endif %}
</div>

<div class="row" style="height:90%; padding-top: 10px; padding-bottom: 10px;" id="chat-room">
  <!--left navbar-->
  <div class="col-md-2 col-md-offset-2 well" id="inbox">    
    <!--chat menu dropdown-->
    <div class="btn-group btn-group-justified" id="btn-chat-menu">
      <div class="btn-group" id="btn-chat-menu">
      	<button type="button" class="btn btn-large dropdown-toggle button-success btn-success" id="chatmenu" data-toggle="dropdown" aria-expanded="false">
      	  Menu <span class="caret"></span>
      	</button>
      	<ul class="dropdown-menu" role="menu">
      	  <li><a href="{% url 'settings' %}" id="change-settings-btn">Change Settings</a></li>
          <li><a href="{% url 'change_password' %}" id="change-password-btn">Change Password</a></li>
      	  <li><a href="/interest/show/" id="adjust-interest-btn">Adjust Interests</a></li>
      	  <li><a data-toggle="modal" href="#sendFeedbackModal" id="submit-feedback-btn">Submit Feedback</a></li>
      	  <li><a data-toggle="modal" href="#referAFriendModal" id="refer-prospie-btn">Refer a Prospie</a></li>
          <li><a href="{% url 'logout' %}" id="logout-btn">Logout</a></li>
      	</ul>
      </div>
    </div>
<!--     <div id="scrollable-dropdown-menu ">
      <input class="form-control" type="text" id="switch-to-chat-input" placeholder="Search by name..." autocomplete="off"/>
    </div> -->
    <ul class="nav nav-pills nav-stacked" >
    {% for thread in inbox_threads %}
      <li role="presentation"><a class="inbox-message" href="#" 
				 onclick="populateThread({{ thread.pk }})" 
				 id="thread-link-{{ thread.pk }}">
	  {% if thread.members.count == 1 %}myself {% endif %}
	  {{ thread | userlist:user | joinby:", " }}
      </a></li>
    {% endfor %}
    </ul>

    {% if current_user.collegeuser %}
      {% if current_user.is_active %}
        {% if current_user.available %}
          <button type="submit" class="btn btn-info btn-large btn-reset-counter" data-toggle="modal" data-target="#availableForMatchModal">Available for matches!</button>
        {% else %}
          <button type="submit" class="btn btn-danger btn-large btn-reset-counter" id="reset-counter" title="{{ current_user.next_match_text }}" data-toggle="modal" data-target="#waitingForMatchModal">Make me available!</button>
        {% endif %}
      {% else %}
        <button type="submit" class="btn btn-danger btn-large btn-reset-counter" disabled>
          Confirm your Email
        </button>
      {% endif %}
    {% else %}
      <form id="match-me" method="GET">
        <button type="submit" class="btn btn-danger btn-large btn-match-me" id="btn-match-me">Match Me!</button>
      </form>
    {% endif %}

  </div>
  <!--current message-->
  <div class="col-md-6 well box">
    <div class="row" id="thread-title-bar">
      <!--Title of message-->
      <div class="col-md-10" style="padding-left: 0px;">
	{% for thread in inbox_threads %}
	<div class="thread" id="members-in-thread-{{ thread.pk }}">
    <h5>{{ thread | userlist:user | joinby:", " }}</h5>
	</div>
	{% endfor %}
      </div>
      <div class="col-md-2" style="padding: 0;">
	<!--plus menu-->
	<div class="dropdown">
	  <button class="btn btn-success dropdown-toggle pull-right button-success" type="button" id="plusmenu" data-toggle="dropdown" aria-expanded="false">+</button>
    <ul class="dropdown-menu" style="right: 35; left: auto;" role="menu" aria-labelledby="plusmenu">
<!-- TODO: Multiperson chats!  or not? I thought this wasn't a thing anymore  -->
<!-- 	    <li><a data-toggle="modal" href="#addPersonToThread">Add a Person</a></li> -->
      {% if not current_user.collegeuser %}
  	    <li><a data-toggle="modal" href="#nudgeAPersonModal" id="nudge-btn">Nudge Person</a></li>
      {% endif %}
      <li><a data-toggle="modal" id="aboutYourMatchBtn" id="about-match-btn">About Your Match</a></li>
      <li><a data-toggle="modal" href="#reportAPersonModal" id="report-person-btn">Report Conversation</a></li>
	  </ul>
	</div>
    </div>
    </div>
    <div id="message-box" class="row" style="margin-bottom: 5px;">
      <!--previously sent/received messages-->
      <div id="message-content">
	{% for thread in inbox_threads %}
 	<div id="thread-{{ thread.pk }}" class="thread thread-messages">
          {% for message in thread.message_set.all %}
	  <div class="row">
            {% if message.sender == user %}
	    <p class="chat-message sent pull-right">{{ message }}</p>
            {% else %}
            <p class="chat-message received pull-left">{{ message }}</p>
          {% endif %}
          </div>
        {% endfor %}
    </div>
	{% endfor %}
	<div class="clearfix" style="margin: 5px;"></div>
      </div>
    </div>
    <form id="send-message-form" method="POST">
      {% csrf_token %}
      <div class="input-group" id="send-message-row">
	<textarea class="form-control custom-control" id="message-input-box" rows="1" style="height: 1em; overflow:hidden;"></textarea>
	<!--input class="form-control" type="text" id="message-input-box"-->
	<span class="input-group-btn">
	  <input type="submit" id="btn-send-message" value="Send" class="btn btn-success button-success"/>
	</span>
      </div>
    </form>
  </div>
</div>

<!-- Add Person to Thread Modal -->
<div class="modal fade" id="addPersonToThread" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to this Thread</h4>
      </div>
      <div class="modal-body">
        <form id="add-person-to-thread-form" method="POST">
      	  {% csrf_token %}
      	  <div id="scrollable-dropdown-menu">
      	    <input class="form-control" type="text" id="add-person-to-thread-input" placeholder="Search by name..." autocomplete="off"/>
      	  </div>
          <br>
          <button type="submit" value="Send" class="btn btn-primary">Do ittttt</button>
      	</form>
      </div>
    </div>
  </div>
</div>

<!-- New Match Modal -->
<div id="newMatchModals">
  <div class="modal fade" id="newMatchModal" tabindex="-1" role="dialog" aria-labelledby="myMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Possible New Match!</h4>
        </div>
        <br><div style="text-align:center" id="modal-intro"></div>
        <div style="text-align:center" class="row">
          <button type="button" class="btn btn-default btn-lg" id="leftMatch" style="float: left top: 50%">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><p class="text-muted">Previous</p></span> 
          </button>
          <div class="modal-body" style="display: inline-block">
            <form id="new-thread-form" method="POST">
    				  <textarea form="new-thread-form" name="textarea" rows="10" cols="50" placeholder="Start the conversation!" required></textarea><br><br>
    				  {% csrf_token %}
    			    <button type="submit" class="btn btn-primary new-match-accept" id="new-match-accept">Match me!</button>
    				</form>
          </div>
          <button type="button" class="btn btn-default btn-lg" id="rightMatch" style="float: right top: 50%">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"><p class="text-muted">Next</p></span> 
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- No match modal -->
<div class="modal fade" id="noNewMatchModal" tabindex="-1" role="dialog" aria-labelledby="myNoMatchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">No New Matches :(</h4>
      </div>
      <div class="modal-body">
        <div id="modal-apology"> It doesn't look like there are any new people for us to match you with. Check back soon, or else we can just email you the minute you've got someone to talk to!</div><br>
      </div>
    </div>
  </div>
</div>

<!-- About Your Match Modal -->
<div id="aboutYourMatchModals">
  <div class="modal fade" id="aboutYourMatchModal" tabindex="-1" role="dialog" aria-labelledby="myMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">About Your Match!</h4>
        </div>
        <br><div style="text-align:center" id="about-your-match-modal-body"></div>
        <div style="text-align:center" class="row">
          <div class="modal-body" style="display: inline-block"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Refer a friend modal -->
<div class="modal fade" id="referAFriendModal" tabindex="-1" role="dialog" aria-labelledby="myReferAFriendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Refer a Prospective Dartmouth Student!</h4>
      </div>
      <div class="modal-body">
	<p><b>re&middot; fer</b>: <i>verb</i> <br>
	  1. To direct the attention or thoughts of <br>
	  2. To mention or allude to <br>
	  3. To be a dope human and spread the Sagely luv <3</p>
	<form id="refer-a-friend-form" method="POST" action="/chat/refer_friend/">
	  {% csrf_token %}
	  <input class="form-control" id="refer_text1" type="text" name="refer-name" id="refer-a-friend-name" placeholder="Friend's Name"/>
	  <input class="form-control" type="text" name="refer-email" id="refer-a-friend-email" placeholder="Friend's email" /><br>
	  <button type="submit" value="Send" class="btn btn-primary" id="refer-follow-through">REFERRRRRRR</button>
	</form>
      </div>
    </div>
  </div>
</div>

<!-- Report a person modal -->
<div class="modal fade" id="reportAPersonModal" tabindex="-1" role="dialog" aria-labelledby="reportAPersonModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Report a Person</h4>
      </div>
      <div class="modal-body">
	<form id="report-a-person-form" method="POST" action="/chat/report_person/">
	  {% csrf_token %}
	  <p>Did someone cause a kerfuffle?  What would you like to say about the following hooligan: <div id="members-to-report"></div></p>
	  <br>
	  <textarea rows="4" class="form-control" type="text" name="report-issue-text" id="report-issue-text" placeholder="Tell us what happened :(" ></textarea><br>
	  <button type="submit" value="Send" class="btn btn-primary" id="report-follow-through">LET US AT 'EM</button>
	</form>
      </div>
    </div>
  </div>
</div>

<!-- Submit Feedback modal -->
<div class="modal fade" id="sendFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="sendFeedbackModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Submit Feedback</h4>
      </div>
      <div class="modal-body">
	<form id="report-a-person-form" method="POST" action="/chat/submit_feedback/">
	  {% csrf_token %}
	  <p>Tell us what's on your mind!</p>
	  <br>
	  <textarea rows="4" class="form-control" type="text" name="send-feedback-text" id="send-feedback-text" placeholder="Thank you!" ></textarea><br>
	  <button type="submit" value="Send" class="btn btn-primary">Submit</button>
	</form>
      </div>
    </div>
  </div>
</div>

<!-- Nudge a person modal -->
<div class="modal fade" id="nudgeAPersonModal" tabindex="-1" role="dialog" aria-labelledby="nudgeAPersonModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Nudge a Person</h4>
      </div>
      <div class="modal-body">
	<form id="nudge-a-person-form" method="POST" action=".">
	  {% csrf_token %}
	  <p>Someone a little slow on the response?  Would you like us to give the following a little nudge for you? <div id="members-to-nudge"></div></p>
	  <br>
	  <button type="submit" value="Send" class="btn btn-primary" id="nudge-a-person-button">Wink wink, nudge nudge :)</button>
	</form>
      </div>
    </div>
  </div>
</div>

<!-- Waiting for match modal -->
<div class="modal fade" id="waitingForMatchModal" tabindex="-1" role="dialog" aria-labelledby="waitingForMatchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Get ready!</h4>
      </div>
      <p class="modal-body">
      You are now available for prospies to find you! We'll shoot you an email when you get matched! 
      </p>
    </div>
  </div>
</div>

<!-- Waiting for match modal -->
<div class="modal fade" id="availableForMatchModal" tabindex="-1" role="dialog" aria-labelledby="availableForMatchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Hang on!</h4>
      </div>
      <p class="modal-body">
      You're currently available! We'll shoot you an email when you get matched!
      </p>
    </div>
  </div>
</div>

<!-- Confrim email to match modal -->
<div class="modal fade" id="confirmEmail" tabindex="-1" role="dialog" aria-labelledby="confirmEmail" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Hold on!</h4>
      </div>
      <p class="modal-body">
        Please confirm your email before we can match you with another Dartmouth student!
      </p>
    </div>
  </div>
</div>

<!-- Loading matches modal -->
<div class="modal fade" id="loading_div" tabindex="-1" role="dialog" aria-labelledby="loading_div" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel" style="text-align: center">Chillax homie, we are percolating on your interests to find you a righteous match.</h4>
      </div>
      <p class="modal-body" style="width: 50%; margin: 0 auto;">
	<img src="{% static 'user/jpg/loading_matches.gif' %}" /></p>
      <p style="text-align: center">This could take up to 30 seconds. Like I said, chillax.</p>
    </div>
  </div>
</div>


{% endblock %}
