body {
  overflow: hidden;
}

#inbox {
  height: 75%;
  position: relative;
  padding: 0;
}

#btn-chat-menu {
  width: 100%;
  margin: 0;
}

#btn-match-me {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}

#message-box {
  height: 90%;
  position: relative;
  padding: 30px;
  background-color: white;
  overflow-y: scroll;
}

#send-message-row {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.box {
  height: 75%;
  background-color: white;     
  padding-top: 5px;

}

.inbox-message {
  background-color: white;
  font-size: 10px;  
}

.active-link {
  background-color: #337ab7;
  color: white;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  background-color: white;	
  padding: 5px;
}

#thread-title-bar {
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
