.dropdown-toggle:active, .open .dropdown-toggle {background:#CDD1B6 !important; color:  #5C755E !important}

#inbox {
  height: 75%;
  position: relative;
  padding: 0;
}

#btn-chat-menu {
  width: 100%;
  margin: 0;
}

#btn-match-me {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #626F83;
  border-color: white;
}

.btn-reset-counter {
  color: #626F83
  background-color: transparent;
  border-color: #626F83;
  border: 2px solid;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}

#alert-message {
  position: absolute;
  width: 96.5%;
  z-index: 1;
}

#message-box {
  height: 85%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  background-color: white;
  overflow-y: scroll;
}

#send-message-row {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

.box {
  height: 75%;
  background-color: white;     
  padding: 0px;
}

.inbox-message {
  background-color: white;
  font-size: 10px;  
}

.active-link {
  background-color: #7dafda;
  border: 1px solid #5596cf;
  color: white;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  background-color: white;	
  padding: 5px;
}

#thread-title-bar {
  padding-right: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(227, 227, 227);
  margin: 0;
}

p.chat-message {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  max-width: 40%;
  opacity: 0.65;
  word-wrap: break-word;
}

p.chat-message.sent {
  border: 1px solid rgb(46, 109, 164);
  background-color: rgb(51, 122, 183);
  color: white;
}

p.chat-message.received {
  border: 1px solid rgb(204, 204, 204);
  background-color: white;
  color: black;
}

textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
    resize: none;
    max-height: 100px;
    overflow-y: scroll;
}

#chatmenu {
  border-radius: 4px;
}

#refer_text1 {
  margin-bottom: 10px;
}

#add-person-to-thread-input {
  width: 300px;
}

#btn-send-message {
  max-height: 100px;
  color: white;
  background-color: #52230C;
  border-color: white;
}