.glyphicon-align-justify {
  width: 100%;
}
#top-menu-dropdown {
  height: 15%;
  width: 100%;
  font-size: 60px;
}
#collapse-menu-list {
  border: 0.5px solid grey;
  background-color: white;
  width: 100%;
  padding-left: 10px;
}
.inbox-message {
  font-size: 40px;
  border: 1px solid grey;
}
.match-btn {
  width: 100%;
  height: 15%;
  font-size: 60px;
}
#message-input-box {
  height: 25%;
  padding: 30px;
  padding-bottom: 25px;
  font-size: 40px;
}
.box {
  height: 86%;
  margin-bottom: 0;
}
#chat-room {
  height: 100%;
}
p.chat-message {
  font-size: 46px;
}
h5 {
  font-size: 50px;
}
#btn-send-message {
  height: 120%;
  font-size: 60px;
}
li > a {
  font-size: 40px;
}