{% extends "app/base.html" %}
{% block content %}
{% load staticfiles %}


<script type="text/javascript" src="{% static 'app/js/country_states.js' %}"></script>
<script type="text/javascript">
// logic to hide/show fields for Dartmouth Student vs. 'Prospie' signup
window.onload = function() {
  document.getElementById('prospie_form').style.display = '';
  document.getElementById('college_form').style.display = 'none';
}

function toggleStudentType() {
  console.log("as;dl");
  if (document.getElementById('prospie').checked) {
    document.getElementById('prospie_form').style.display = '';
    document.getElementById('college_form').style.display = 'none';
  }
  if (document.getElementById('college_student').checked) {
    document.getElementById('prospie_form').style.display = 'none';
    document.getElementById('college_form').style.display = '';
  }
}
</script>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="padding: 0;">
    <form class="form-horizontal">
      <div class="form-group" style="margin: 15px 0">
	<div class="btn-group btn-group-justified" data-toggle="buttons" >
	  <label class="btn btn-success active col-sm-6">
	    <input onchange="javascript:toggleStudentType();" type="radio" name="student_type" id="prospie" autocomplete="off" checked> Prospie (HS)
	  </label>
	  <label class="btn btn-success col-sm-6">
	    <input onchange="javascript:toggleStudentType();" type="radio" name="student_type" id="college_student" autocomplete="off"> College Student
	  </label>
	</div>
      </div>
    </form>
    <form class="form-horizontal" id="prospie_form">
      {% for field in prospie_form %}
      <div class="form-group">
	<div class="col-sm-12">
	  {{ field }}
	</div>
      </div>
      {% endfor %}
      <script type="text/javascript">initCountry(''); </script>
    </form>
    <form class="form-horizontal" id="college_form">
      {% for field in college_form %}
      <div class="form-group">
	<div class="col-sm-12">
	  {{ field }}
	</div>
      </div>
      {% endfor %}
    </form>

  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
