{% extends "app/base.html" %}
{% block content %}
{% load staticfiles %}


<script type="text/javascript" src="{% static 'app/js/country_states.js' %}"></script>
<script type="text/javascript">
// logic to hide/show fields for Dartmouth Student vs. 'Prospie' signup
window.onload = function() {
  document.getElementById('max_match_group').style.display = 'none';
  document.getElementById('bio_group').style.display = 'none';
}

function toggleStudentType() {
  console.log("as;dl");
  if (document.getElementById('college_student').checked) {
    document.getElementById('max_match_group').style.display = '';
    document.getElementById('bio_group').style.display = '';
  }
  if (document.getElementById('prospie').checked) {
    document.getElementById('max_match_group').style.display = 'none';
    document.getElementById('bio_group').style.display = 'none';
  }
}
</script>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form class="form-horizontal">
      <div class="form-group">
	<div class="btn-group" data-toggle="buttons" style="width: 100%;">
	  <label class="btn btn-success col-sm-6 active">
	    <input onchange="javascript:toggleStudentType();" type="radio" name="student_type" id="prospie" autocomplete="off" checked> Prospie (HS)
	  </label>
	  <label class="btn btn-success col-sm-6">
	    <input onchange="javascript:toggleStudentType();" type="radio" name="student_type" id="college_student" autocomplete="off"> College Student
	  </label>
	</div>
      </div>
      <div class="form-group">
	<div class="col-sm-12">
	  <input type="text" class="form-control" id="first_name" placeholder="First Name">
	</div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="last_name" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="password" class="form-control" id="password1" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="password" class="form-control" id="password2" placeholder="Password Again">
        </div>
      </div>
      <div class="form-group">
	<div class="col-sm-8">
	  <select class="form-control" id='countrySelect' name='country' onchange='populateState()'></select>
	</div>
	<div class="col-sm-4">
	  <select class="form-control" id='stateSelect' name='state'></select>
	  <script type="text/javascript">initCountry('US'); </script>
	</div>
      </div>
      <div class="form-group" id="max_match_group">
	<label for="max_match_rate" class="col-sm-8 control-label">I want to be matched with a prospie AT MOST once every...</label>
	<div class="col-sm-4">
	  <select class="form-control">
	    <option>Day</option>
	    <option>3 Days</option>
	    <option>Week</option>
	    <option>2 Weeks</option>
	    <option>Month</option>
	  </select>
	</div>
      </div>
      <div class="form-group" id="bio_group">
	<div class="col-sm-12">
	  <textarea rows="4" class="form-control" id="bio" placeholder="Bio (optional)"></textarea>
	</div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
