{% extends "app/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 id="slogan">Connecting Prospies with Dartmouth Students</h1>
    <hr class="snak-divider">
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row buffer-row"></div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <a href="{% url 'sign_up' %}"> <div id="btn-signup" class="btn btn-success btn-large">Sign Up Now</div></a>
    <br>
    <div class="centered">Been there, done that? <a href="#">Login</a></div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row buffer-row"></div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr class="snak-divider">
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
