{% extends "user/base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="../../static/user/css/pre-login.css">

<div class="row"></div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr class="snak-divider">
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="text-center">

      <p>We believe in knowing what you're diving into. Which college to attend is one of the biggest decisions we will make in our lifetimes, but it's so hard for prospective students to get an true inside look into student life. It's even harder to get personalized, relevant, timely answers, or even to know what questions to ask in the first place. Everyone has different interests: there are no one-size-fits-all answers. </p>
 
		<p>As Dartmouth students, we know that every Dartmouth experience is unique. Our goal is to help prospective students (or "prospies," as we lovingly call them here at Dartmouth) get an inside look into campus life, into what it's really like to be a Dartmouth student. We believe the best way to achieve this goal is to connect prospies with current Dartmouth students based on similar interests.</p>
 
		<p>Sagely.io was started by Adam Tong '15, Diana Salsbury '15, Nick Joung '15, Katie Lachance '15, and Sam Farid '15. Keep a look out for us on Sagely.io!</p>
      </div>
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock %}
