<script src="https://code.jquery.com/jquery.js"></script>
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!--
This is the basic template for all pages on the snakd site
Coontains scripts/stylesheets, a navbar, footer, and block tags for content to be added 
in between.  To use, simply add
    { \% extends "user/base.html" \% } (without \ and spaces between % and {})
to the top of any template file.  *NOTE* this must be the FIRST line in the template!
Then surround all code with
    { \% block content \% }
    { \% endblock \%} 
         (again without '\' and spaces between '%' and '{}')
-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'user/css/base.css' %}" />
  <script type="text/javascript" src="{% static 'user/js/validator.js' %}"></script>

{% block extrastyle %}{% endblock %}
{% block extra_js %}{% endblock %}

</head>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 id="logo">SnakDartmouth</h1>
  </div>
  <div class="col-md-2"></div>
</div>

{% if user.is_authenticated %}
<div class="row" style="padding-right: 20px; margin: 0;">
  <a class="col-md-offset-2 col-md-1" href="{% url 'logout' %}">Logout</a>
  <h6 class="col-md-offset-6 col-md-1" id="user-welcome">Welcome, {{ user.firstname }}</h6>
</div>
{% endif %}

{% block content %}{% endblock %}


<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills" id="footer">
      <li><a href="{% url 'chat' %}">Home</a></li>
      <li><a href="{% url 'settings' %}">Settings</a></li>
      <li><a href="{% url 'howto' %}">How It Works</a></li>
      <li><a href="{% url 'aboutus' %}">About Us</a></li>
    </ul>
  </div>
</div>

</html>
