
<script src="https://code.jquery.com/jquery.js"></script>
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!--
This is the basic template for all pages on the snakd site
Coontains scripts/stylesheets, a navbar, footer, and block tags for content to be added 
in between.  To use, simply add
    { \% extends "user/base.html" \% } (without \ and spaces between % and {})
to the top of any template file.  *NOTE* this must be the FIRST line in the template!
Then surround all code with
    { \% block content \% }
    { \% endblock \%} 
         (again without '\' and spaces between '%' and '{}')
-->

<!DOCTYPE html>
<html>
<head>
  <title>Sagely</title>
  <link rel="stylesheet" type="text/css" href="{% static 'user/css/base.css' %}" />
  <script type="text/javascript" src="{% static 'user/js/validator.js' %}"></script>
  <link rel="shortcut icon" href="../../static/app/ico/favicon.ico" />
{% block extrastyle %}{% endblock %}
{% block extra_js %}{% endblock %}


<!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61893953-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<!--
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 id="logo">Sagely.io</h1>
  </div>
  <div class="col-md-2"></div>
</div>
-->
{% if user.is_authenticated %}
{% if not user.is_active %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <h4 id="non-active-user-error">Oh snap! You still need to confirm your email account!</h4>
  <p>You should have received an email from sagelyio@gmail.com with information 
    to confirm your account.  If you still haven't received this, click 
    <a href="#">here</a> to resend the email :)<p>
  <p>
</div>
{% endif %}
<div class="row">
  <div class="col-md-offset-8 col-md-2" align="right">
	Welcome, {{ user.firstname }}
  </div>
</div>
{% endif %}

{% block content %}{% endblock %}


<div class="row">
  <div class="col-md-12" id="footer">
    <u1 class="nav nav-pills-star pull-left">
      <li><a href="#">Sagely.io is not affiliated with the Dartmouth Admissions Office</a></li>
    </u1>
    <ul class="nav nav-pills pull-right">
      <li><a href="{% url 'splash' %}">Home</a></li>
      <li><a href="{% url 'aboutus' %}">About Us</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>      
      {% endif %}
      {% if user.is_authenticated %}
      {% else %}
	<li><a href="{% url 'howmatchingworks' %}" id='howmatchingworks'>How You're Matched</a></li>
        <li><a href="{% url 'contactus' %}">Contact Us</a></li>
      {% endif %}
    </ul>
  </div>
</div>

</html>
