{% extends "user/base.html" %}
{% load staticfiles %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="../../static/user/css/pre-login.css">

	  <!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-61893953-1a', 'auto');
	ga('send', 'pageview');

	</script>
</head>

<div class="row buffer-row">
  <hr class="snak-divider">
</div>

<div class="row">
  <form class="form-horizontal col-md-4 col-md-offset-4"
	data-toggle="validator"
	form="form"
	name="PasswordResetForm"
	action=""
	method="post">
    <h3 class="form-group col-sm-12" style="text-align:center;">
      Change Password
    </h3>
    
    {% csrf_token %}
    
    <input type="password"
	   name="old-password"
	   id="old-password"
	   placeholder="Current password"
	   class="form-control form-group"
	   required>

    <input type="password"
	   name="new-password-1"
	   id="new-password-1"
	   placeholder="~*new*~ password"
	   class="form-control form-group"
	   minlength=6
	   required>

    <input type="password"
	   name="new-password-2"
	   id="new-password-2"
	   placeholder="~*new*~ password again plz"
	   class="form-control form-group"
	   minlength=6
	   data-match="#new-password-1"
	   data-error="Yikes, your new passwords don't match. GUUUUD thing we're checking amirite?"
	   required>

    <div class="form-group centered">
      <button type="button" class="btn btn-success btn-lg" onClick="javascript:history.go(-1);">Cancel</button>
      <button type="submit" id="submitCP" class="btn btn-primary btn-lg">DO IT</button>
    </div>

    <div class="form-group col-sm-12" id="old-password-error" style="text-align: center; color: red;">
      <h3>{{ error }}</h3>
    </div>

  </form>
</div>
{% endblock %}
