{% extends "user/base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="../../static/user/css/pre-login.css">
<link rel="stylesheet" type="text/css" href="../../static/user/css/contactus.css">

<script type="text/javascript">
// logic to hide/show fields for Dartmouth Student vs. 'Prospie' signup
window.onload = function() {
  document.getElementById('contactus_form').style.display = '';
}
</script>

<div class="row buffer-row">
    <hr class="snak-divider">
</div>
<div class="row buffer-row"></div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="padding: 0;">
    <form class="form-horizontal" data-toggle="validator" role="form" id="contactus_form" method="post" action=".">
      {% csrf_token %}
      {% for field in contactus_form %}
      <div class="form-group">
	<div class="col-sm-12">
	  {{ field }}
	  <div class="help-block with-errors"></div>
	</div>
      </div>
      {% endfor %}
      <div class="contact-submit-holder">
	<input type="submit" class="btn btn-primary" id="submitCP" value="Submit" name="contactus_button">
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>


{% endblock %}
