{% extends "user/base.html" %}
{% block content %}
{% load staticfiles %}

<head>
  <link rel="stylesheet" type="text/css" href="../../static/user/css/pre-login.css">
  <link rel="stylesheet" type="text/css" href="../../static/user/css/contactus.css">

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61893953-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>

<script type="text/javascript">
// logic to hide/show fields for Dartmouth Student vs. 'Prospie' signup
window.onload = function() {
  document.getElementById('contactus_form').style.display = '';
}
</script>


<div class="row buffer-row">
    <hr class="snak-divider">
</div>
<div class="row buffer-row"></div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="padding: 0;">
    <form class="form-horizontal" data-toggle="validator" role="form" id="contactus_form" method="post" action=".">
      {% csrf_token %}
      {% for field in contactus_form %}
      <div class="form-group">
	<div class="col-sm-12">
	  {{ field }}
	  <div class="help-block with-errors"></div>
	</div>
      </div>
      {% endfor %}
      <div class="contact-submit-holder centered">
	<input type="submit" class="btn btn-primary btn-lg" id="submitCP" value="Submit" name="contactus_button">
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>


{% endblock %}
