{% extends "user/base.html" %}

{% block content %}

<div class="row header-row"></div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h><b>SELECT YOUR INTERESTS</b></h>
    <p>We will use your personal interests - academic, athletic, social, and more - 
      to match you with a student who shares these interests in common with you!</p>
    <h><b>GET YOUR MATCH</b></h>
    <p>Personally connect with a student just like you!</p>
    <h><b>START CHATTING</b></h>
    <p>College students get to talk about the school they love with prospective students, 
      while the high school students have the opportunity to ask questions and get real
      answers.</p>
  </div>
  <div class="col-md-3"></div>
</div>


{% endblock %}
