{% extends "user/base.html" %}

{% block content %}
{% load staticfiles %}

<div class="row buffer-row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr class="snak-divider">
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row buffer-row"></div>

<div class="row">
  <div class="col-md-4"></div>

  <form class="form-horizontal col-md-4" 
          data-toggle="validator" 
          role="form"  
          name="LoginForm" 
          action="/login/" 
          method="post">
    
    {% csrf_token %}

    <input type="text" name="email" 
           id="email" value="{{email}}" 
           placeholder="Email" 
           class="form-control form-group col-sm-12" 
           required>

    <input type="password" name="password" 
           id="password" placeholder="Password" 
           class="form-control form-group col-sm-12" 
           required>
    <div class="form-group col-sm-12" id="login-error" style="display: {{ has_error }}; text-align: center; color: red">
      <h3>WHAT ARE YOU????</h3>
      <h5>...that email/password combo doesn't exist in our systems.  Try again or <a href="{% url 'sign_up' %}">sign up</a>, stop tryna hack us you will FAIL.</h5>
    </div>

    <div class="form-group col-sm-12" 
         style="margin-bottom: 5px; text-align: center;">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="form-group col-sm-12"
	 style="margin-bottom: 5px; text-align: center; font-size: 16px;">
      You no have login? <a href="{% url 'sign_up' %}">Sign up</a>, ya fool!
    </div>

      <!--a class="" href="{% url 'splash' %}" >Back</a-->
  </form>

  <div class="col-md-4"></div>
</div>

{% endblock %}
