{% extends "user/base.html" %}

{% block content %}
{% load staticfiles %}

<div class="row">
  <div class="col-md-4"></div>

  <form class="form-horizontal col-md-4" 
          data-toggle="validator" 
          role="form"  
          name="LoginForm" 
          action="/login/" 
          method="post">
    
    {% csrf_token %}

    <input type="text" name="email" 
           id="email" value="{{email}}" 
           placeholder="Email" 
           class="form-control form-group col-sm-12" 
           required>

    <input type="password" name="password" 
           id="password" placeholder="Password" 
           class="form-control form-group col-sm-12" 
           required>

    <div class="form-group col-sm-12" 
         style="margin-bottom: 5px; text-align: center;">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
      <!--a class="" href="{% url 'splash' %}" >Back</a-->
  </form>

  <div class="col-md-4"></div>
</div>

{% endblock %}
