{% extends "user/base.html" %}

{% block content %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'user/js/country_states.js' %}"></script>
<script type="text/javascript">
  window.onload = function() {
    initCountry('', 'countrySelect', 'stateSelect'); 
  }
</script>

  <form class="form-horizontal" data-toggle="validator" role="form" id="settings_form" method="post" action=".">
    {% csrf_token %}
    {% for field in settings_form %}
      <div class="form-group">
        <div class="col-sm-12">
          {{ field }}
          <div class="help-block with-errors"></div>
        </div>
      </div>
    {% endfor %}
    <div class = "signup-submit-holder">
      <input type="submit" class="btn btn-primary" value="Submit" name="college_signup">
    </div>
  </form>



{% endblock %}
