{% extends "user/base.html" %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="../../static/user/css/signup.css">

<script type="text/javascript" src="{% static 'user/js/country_states.js' %}"></script>
<script type="text/javascript">
// logic to hide/show fields for Dartmouth Student vs. 'Prospie' signup
window.onload = function() {
  document.getElementById('prospie_form').style.display = '';
  document.getElementById('college_form').style.display = 'none';
  initCountry('', 'countrySelect2', 'stateSelect2'); 
  initCountry('', 'countrySelect1', 'stateSelect1'); 
}

function toggleStudentType() {
  console.log("as;dl");
  if (document.getElementById('prospie').checked) {
    document.getElementById('prospie_form').style.display = '';
    document.getElementById('college_form').style.display = 'none';
  }
  if (document.getElementById('college_student').checked) {
    document.getElementById('prospie_form').style.display = 'none';
    document.getElementById('college_form').style.display = '';
  }
}
</script>

<div class="row buffer-row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr class="snak-divider">
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="padding: 0;">
    <form class="form-horizontal">
      <div class="form-group" style="margin: 15px 0">
	<div class="btn-group btn-group-justified" data-toggle="buttons" >
	  <label class="btn btn-success active col-sm-6">
	    <input onchange="javascript:toggleStudentType();" type="radio" name="student_type" id="prospie" autocomplete="off" checked> Prospie (HS)
	  </label>
	  <label class="btn btn-success col-sm-6">
	    <input onchange="javascript:toggleStudentType();" type="radio" name="student_type" id="college_student" autocomplete="off"> College Student
	  </label>
	</div>
      </div>
    </form>
    <form class="form-horizontal" data-toggle="validator" role="form" id="prospie_form" method="post" action=".">
      {% csrf_token %}
      {% for field in prospie_form %}
      <div class="form-group">
	<div class="col-sm-12">
	  {{ field }}
	  <div class="help-block with-errors"></div>
	</div>
      </div>
      {% endfor %}
      <div class="signup-submit-holder">
        <input class="btn btn-primary" type="submit" value="Submit" name="prospie_signup">
      </div>
    </form>
    <form class="form-horizontal" data-toggle="validator" role="form" id="college_form" method="post" action=".">
      {% csrf_token %}
      {% for field in college_form %}
      <div class="form-group">
	<div class="col-sm-12">
	  {{ field }}
	  <div class="help-block with-errors"></div>
	</div>
      </div>
      {% endfor %}
      <div class = "signup-submit-holder">
        <input type="submit" class="btn btn-primary" value="Submit" name="college_signup">
      </div>
    </form>
    <h5 class="centered">Already have an account? <a href="{% url 'login' %}">Login</a></h5>
<!--    <a href="{% url 'splash' %}">Back</a>-->
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row buffer-row"></div>
<div class="row buffer-row"></div>

<script type="text/javascript">
  $("#prospie_password1")[0].setAttribute("minlength", 6)
  $("#id_password1")[0].setAttribute("minlength", 6)
  $( window ).load(function() {
    if ("{{ student_type }}" == "dartmouth") {
      $("#college_student")[0].click()
    };
  });
</script>

{% endblock %}
