{% extends "user/base.html" %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="../../static/user/css/pre-login.css">
</head>

<div class="row buffer-row">
  <hr class="snak-divider">
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3 class="centered">Thank you for your comments!</h3>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row buffer-row"></div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <a href="{% url 'splash' %}"> <div class="btn btn-primary btn-large">Back to Home</div></a>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
